@import "../../styles/default"

.profile-wrapper
  box-sizing: border-box
  z-index: 2
  display: flex

  width: 100%
  
  padding: 2rem 2.5rem
  border-radius: 6px
  
  background-color: $mainCard


.profile-container
  display: flex
  flex-direction: row
  align-items: center
  gap: 2rem
  width: 100%

  img 
    border-radius: 6px
    width: 200px
    height: 200px

.content-wrapper
  display: flex
  flex-direction: column
  justify-content: space-between
  height: 100%
  width: 100%
  

.content
  display: flex
  flex-direction: column
  justify-content: space-between

  h1
    width: 100%
  
.name-github
  display: flex
  flex-direction: row
  justify-content: space-between  
  align-items: baseline

.open-on-github
  display: flex 
  align-items: flex-start

  span
    display: flex
    gap: .5rem

nav
  width: fit-content
  gap: .5rem
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  
  span
    display: flex
    justify-content: center
    align-items: center
    gap: .25rem
    line-height: 1
