@import './colors'
@import './media-queries'

$fontFamily: Nunito

*
  box-sizing: border-box

body
  background: linear-gradient(-180deg, #BCC5CE 0%, #929EAD 98%), radial-gradient(at top left, rgba(255,255,255,0.30) 0%, rgba(0,0,0,0.30) 100%)
  background-size: 100%
  background-repeat: no-repeat
  margin: 0
  color: $baseText
  width: 100vw
  min-height: 100vh
  height: 100%
  font-family: $fontFamily
  line-height: 160%
  overflow-x: hidden

  @include mobile
    overflow-x: hidden
    height: 100%

.wrapper
  display: flex
  justify-content: center
  margin-top: 1rem
  overflow-x: hidden

  @include mobile
    width: 100vw
    padding: 1rem
    margin-top: 0

span
  color: $baseTitle

h1
  color: $baseTitle

p
  color: $baseText

a
  color: $baseLink
  text-decoration: none
