@import "../../styles/default"
  
.header-wrapper
  width: 100%
  background-color: $mainCard
  border-radius: 6px
  padding: 2rem

.top-nav
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%

  span
    height: fit-content
    align-items: center      

.bottom-nav
  display: flex
  gap: 3rem
  width: fit-content

.post-content-wrapper
  background-color: $secondaryCard
  width: 100%
  border-radius: 6px 
  padding: 2rem

  pre
    padding: 2rem
    border-radius: 6px
    background-color: $mainCard